/* root */
:root {
	/* nav */
	--nav-link-color: rgba(0, 0, 0, 0.3);
	--nav-link-hover: rgba(0, 0, 0, 0.7);
	--buy-btn-color: rgb(255, 255, 255);
	--buy-btn-hover: rgb(0, 0, 0);
	--buy-btn-back: rgb(0, 0, 0);
	--buy-btn-bg-hover: rgb(255, 255, 255);
	--buy-btn-border: rgb(0, 0, 0);
	/* nero */
	--hero-color: rgb(255, 255, 255);
	--hero-hover: rgb(0, 0, 0);
	--hero-btns-border: rgb(255, 255, 255);
	--hero-btns-bg-hover: rgb(255, 255, 255);
}

/* document */
.wrapper {
	max-width: 1440px;
}

/* header */
.header {
	width: 100%;
	padding: 20px 80px;
	position: fixed;
	background-color: #fff;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.nav {
	align-items: center;
	display: flex;
	gap: 30px;
}

.nav__link {
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--nav-link-color);
	transition: 0.4s;
}

.nav__link:hover {
	color: var(--nav-link-hover);
}

.buy-btn {
	border: 1px solid var(--buy-btn-border);
	padding: 5px 18px;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--buy-btn-color);
	background-color: var(--buy-btn-back);
	transition: 0.4s all;
}

.buy-btn:hover {
	background-color: var(--buy-btn-bg-hover);
	color: var(--buy-btn-hover);
}

.logo {
	width: 98px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* hero */
.hero {
	width: 100%;
	height: 100vh;
	padding: 56px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url("../img/hero-background.jpg");
	background-position: 50% 50%;
	background-size: cover;
	color: var(--hero-color);
	/* background-attachment: fixed; */
}

.hero__heading {
	margin-bottom: 33px;
	font-family: 'Roboto', sans-serif;
	font-size: 57px;
	line-height: 67px;
}

.hero__paragraph {
	margin: 0 auto;
	margin-bottom: 60px;
	max-width: 496px;
	font-size: 16px;
	line-height: 156%;
	letter-spacing: 0.44px;
}

.hero-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.hero-btns__button {
	width: 215px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--hero-btns-border);
	font-size: 14px;
	line-height: 143%;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	transition: 0.4s all;
}

.hero-btns__button:hover {
	color: var(--hero-hover);
	background-color: var(--hero-btns-bg-hover);
}